.sidebar > ul{
margin-left: 1rem;
margin-top: 3rem;
}

.sideLink::marker {
font-size: 3.3rem;
line-height: 4rem;
}
 
.sidebar, .mainColumn {
    margin: 0; /* マージンをリセット */
    padding: 0; /* パディングをリセット */
}

.sideLink{
position: relative;
}
   
.sideLink a {
position: absolute;
top: 0;
left: 0;
}
   
.sideLinkTop{
color: #fbc4ae;
}
   
.sideLinkMovie{
color: #66df4b;
}
   
.sideLinkDrama{
color: #79e5e8;
}
   
.sideLinkStage{
color: #3389d4;
}
   
.sideLinkPhotobook{
color: #333ced;
}
   
.sideLinkBook{
color: #1c217a;
}

.sideLinkMember{
color: #12fw2d;
   }
 
 .sideLinkManager{
color: #d420b3;
}
